::selection {
  color: white;
  background: #fd4d4d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #0B0E11;
  color: #7A7E83;
}

input {
  background: #242C37;
  color: white;
  padding: 1em;
  border-radius: 8px;
  border: 0 solid;
  width: 100%;
  max-width: 700px;
  outline: transparent;
  font-size: 1.025rem;
  letter-spacing: 1px;
  font-weight: 900;
}

input:focus {
  background: #242C37;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
